@import "styles/colors";
@import "styles/contains";
@import "styles/constants";


.block{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 24px;

  .tags{
    display: flex;
    grid-column-gap: 16px;
    align-items: center;
    width: 100%;

    .tagsList{
      display: flex;
      grid-column-gap: 8px;
      align-items: center;

      h4{
        cursor: pointer;
        transition: $duration;
      }

      h4:hover{
        opacity: 0.75;
      }
    }

    .vertHR{
      height: 12px;
      width: 1px;
      background: $day_stroke;
    }

    .all{
      color: $day_sub_font;
      user-select: none;
      cursor: pointer;
      transition: $duration;
    }

    .all:hover{
      color: $day_font;
    }
  }
}

