@import "styles/colors";

.fill{
  display: flex;
  justify-content: center;
  width: 100%;

  .central{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 32px;

    .title{
      display: flex;
      grid-column-gap: 8px;
      align-items: center;
      user-select: none;

      h1{
        cursor: pointer;
      }

      hr{
        height: 16px;
        width: 2px;
        background: $day_stroke;
      }
    }

    .content{
      display: flex;
      flex-direction: column;
      grid-row-gap: 16px;
    }
  }
}

