$day_background: white;
$day_stroke: rgba(0,0,0,0.15);
$day_selected: rgba(0,0,0,0.05);
$day_font: #222;
$day_sub_font: rgba(34,34,34,0.65);

$night_background: #161616;
$night_stroke: rgba(255,255,255,0.1);
$night_selected: rgba(255,255,255,0.05);
$night_font: white;
$night_sub_font: rgba(255,255,255,0.5);

$red: #FF4D4D;