@import "colors";

@mixin window_title{
  display: flex;
  width: 100%;
  padding: 24px;
  border-radius: 10px 10px 0 0;

  background: linear-gradient(white, rgba(255,255,255,0.5));
  backdrop-filter: blur(40px);
  border-bottom: 1px solid $day_stroke;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
}

@mixin window_bottom{
  display: flex;
  width: 100%;
  padding:24px;
  border-radius: 0 0 10px 10px;

  background: linear-gradient(rgba(255,255,255,0.75),white);
  backdrop-filter: blur(40px);
  border-top: 1px solid $day_stroke;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10;
}